package pages

templ Home() {
	@Page(true) {
		<h1>
			River Levels App
		</h1>
		<div class="flex justify-center my-8">
			<a href="/linechart" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
				See line chart
			</a>
		</div>

	}
}
