package views

import (
	"github.com/go-echarts/go-echarts/v2/charts"
	"github.com/brunompx/go-riverlevels/views/components"
)

templ Linechart(chart *charts.Line) {
	<html>
		<head>
			<title>Bar chart</title>
		</head>
		<body>
			@components.ChartComponent(chart)
		</body>
	</html>
}

